extends layout

block content
  .w3-container.w3-padding-64.w3-animate-opacity
    .w3-third.w3-padding-large
      .w3-card.w3-hover-light-grey
        .w3-container.w3-center
          img(src='/images/nopy.jpg', style="max-width:100%")
        .w3-container.w3-theme
          p นาย นิธิชัย 		เทพมง		5801012620046
    .w3-third.w3-padding-large
      .w3-card.w3-hover-light-grey
        .w3-container.w3-center
          img(src='/images/fhox.jpg', style="max-width:100%")
        .w3-container.w3-theme
          p นาย ชัยสิทธิ์		แซ่ตัน			5801012630050
    .w3-third.w3-padding-large
      .w3-card.w3-hover-light-grey
        .w3-container.w3-center
          img(src='/images/top.jpg', style="max-width:100%")
        .w3-container.w3-theme
          p นาย พันธกานต์	ขัดผาบ		5801012610091
    .w3-third.w3-padding-large
      .w3-card.w3-hover-light-grey
        .w3-container.w3-center
          img(src='/images/bank.jpg', style="max-width:100%")
        .w3-container.w3-theme
          p นาย รัชพล	  	ศรีพฤทธิ์เกียรติ	5801012620071
    .w3-third.w3-padding-large
      .w3-card.w3-hover-light-grey
        .w3-container.w3-center
          img(src='/images/gase.jpg', style="max-width:100%")
        .w3-container.w3-theme
          p นาย จิรวัฒน์    	ไชยเนตร		5801012520020
